@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

// Variables
:root {
  --red: #ff6263;
  --blue: #0ebec7;

  --white: #ffffff;
  --black: #111111;
  --dark-gray: #444444;

  --font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  font-weight: normal;
  font-size: 1.6rem;
  color: #ffffff;
  width: 100%;

  box-sizing: border-box;
}

h1 {
  font-size: 7.2rem;
  font-weight: normal;
  line-height: 1.1;
  color: #ffffff;
  letter-spacing: -1px;
}

button {
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s;

  display: inline-block;
  height: 6.4rem;
  min-width: 24rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 10rem;

  &:hover {
    background-color: #0baab3;
  }

  &.small {
    height: 4.8rem;
    min-width: 14rem;
    text-transform: initial;
    letter-spacing: initial;
  }

  &.red {
    background-color: var(--red);
    &:hover {
      background-color: #f04d4d;
    }
  }
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

// Coding starts here👇
.reveal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 20;
  background-color: var(--red);
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s;

  .navbar {
    height: 12rem;
    position: relative;
    z-index: 10;

    .wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(#fff, 0.2);

      position: relative;
    }

    .logo {
      margin-right: 3rem;
      img {
        height: 4rem;
      }
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      border-left: 2px solid rgba(#fff, 0.3);

      li {
        color: #fff;
        font-weight: bold;
        transition: color 0.2s;
        margin-left: 3rem;
        cursor: pointer;

        img {
          height: 0.7rem;
          margin-bottom: 0.2rem;
        }
      }
    }

    button {
      margin-left: auto;
    }

    .loading {
      position: absolute;
      bottom: -0.5px;
      left: 0;
      z-index: 10;
      height: 1px;
      width: 0;
      background-color: #ffffff;
    }
  }

  .hero {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;

    .wrapper {
      height: 100%;
      position: relative;
    }

    .main-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h1 {
        .line {
          height: 8rem;
          overflow: hidden;
        }
      }

      button {
        margin-top: 3rem;
      }
    }

    .video {
      position: absolute;
      bottom: 4rem;
      left: 0;

      display: flex;
      align-items: center;
      cursor: pointer;

      p {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-right: 2rem;
      }

      img {
        height: 4.8rem;
        transition: transform 0.2s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    .slider-dots {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;

      span {
        height: 1rem;
        width: 1rem;
        background-color: #ffffff;
        border-radius: 10rem;
        position: relative;

        cursor: pointer;
        margin-top: 3.6rem;

        &:first-child {
          margin-top: 0;
        }

        &::before {
          content: "";
          height: 1rem;
          width: 1rem;
          background-color: rgba(#fff, 0.2);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 10rem;
          z-index: -1;
          transition: 0.3s;
        }

        &:hover {
          &::before {
            height: 3rem;
            width: 3rem;
          }
        }

        &.current {
          cursor: initial;
          &::before {
            height: 3rem;
            width: 3rem;
          }
        }
      }
    }
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: url(./images/img-1.jpg) no-repeat center;
      background-size: cover;

      &.current {
        z-index: 2;
      }

      &.previous {
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        // background-color: rgba(#000, 0.4);
        background: linear-gradient(to right, rgba(#000, 0.6), rgba(#000, 0.2));
        // z-index: 1;
      }

      &.slide-1 {
        background: url(./images/img-1.jpg) no-repeat center;
        background-size: cover;
      }

      &.slide-2 {
        background: url(./images/img-2.jpg) no-repeat center;
        background-size: cover;
      }

      &.slide-3 {
        background: url(./images/img-3.jpg) no-repeat center;
        background-size: cover;
      }

      .wrapper {
        height: 100%;
        width: 100%;
        position: relative;
      }

      .slide-content {
        position: absolute;
        bottom: 5rem;
        right: 0;
        z-index: 5;

        max-width: 400px;
        padding-left: 3rem;
        font-size: 1.8rem;
        line-height: 1.4;

        .bar {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          height: 100%;
          width: 5px;
          background-color: var(--red);
        }
      }
    }
  }
}

@media (max-height: 660px), (max-width: 840px) {
  html {
    font-size: 50%;
  }

  header .navbar {
    height: 10rem;
  }
}
